body {
    padding-bottom: 20px;
    padding-top: 20px;
}
.navbar {
    margin-bottom: 20px;
}

/* CSS TABLE */

/* all table cursor pointer */
table {
	cursor: pointer;
}
/* all table columns center */
table thead tr th,
table tbody tr td {
	text-align: center;
}


.progress {
    background: none repeat scroll 0 0 #ff3030;
    height: 2px;
    left: 14.7px;
    margin-top: -8px;
    position: absolute;
    transition: left 1s ease 0s;
    width: 1139px;
    z-index: -1;
}
